lovmimica_app_31/web/WEB-INF/wsdl/localhost_8084/lovmimica_aplikacija_1/SoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.logika.lovmimica.nwtis.foi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.logika.lovmimica.nwtis.foi.com/" name="SoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.logika.lovmimica.nwtis.foi.com/" schemaLocation="http://localhost:8084/lovmimica_aplikacija_1/SoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajTekuceMeteoPodatke">
<part name="parameters" element="tns:dajTekuceMeteoPodatke"/>
</message>
<message name="dajTekuceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajTekuceMeteoPodatkeResponse"/>
</message>
<message name="dajAdreseKorisnika">
<part name="parameters" element="tns:dajAdreseKorisnika"/>
</message>
<message name="dajAdreseKorisnikaResponse">
<part name="parameters" element="tns:dajAdreseKorisnikaResponse"/>
</message>
<message name="dajRangListuAdresa">
<part name="parameters" element="tns:dajRangListuAdresa"/>
</message>
<message name="dajRangListuAdresaResponse">
<part name="parameters" element="tns:dajRangListuAdresaResponse"/>
</message>
<message name="dajAdresineMeteoPodatke">
<part name="parameters" element="tns:dajAdresineMeteoPodatke"/>
</message>
<message name="dajAdresineMeteoPodatkeResponse">
<part name="parameters" element="tns:dajAdresineMeteoPodatkeResponse"/>
</message>
<message name="addressTestMethod">
<part name="parameters" element="tns:addressTestMethod"/>
</message>
<message name="addressTestMethodResponse">
<part name="parameters" element="tns:addressTestMethodResponse"/>
</message>
<message name="testMethod">
<part name="parameters" element="tns:testMethod"/>
</message>
<message name="testMethodResponse">
<part name="parameters" element="tns:testMethodResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="dajAdresineMeteoPodatkeUIntervalu">
<part name="parameters" element="tns:dajAdresineMeteoPodatkeUIntervalu"/>
</message>
<message name="dajAdresineMeteoPodatkeUIntervaluResponse">
<part name="parameters" element="tns:dajAdresineMeteoPodatkeUIntervaluResponse"/>
</message>
<portType name="SoapWS">
<operation name="dajTekuceMeteoPodatke">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajTekuceMeteoPodatkeRequest" message="tns:dajTekuceMeteoPodatke"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajTekuceMeteoPodatkeResponse" message="tns:dajTekuceMeteoPodatkeResponse"/>
</operation>
<operation name="dajAdreseKorisnika">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajAdreseKorisnikaRequest" message="tns:dajAdreseKorisnika"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajAdreseKorisnikaResponse" message="tns:dajAdreseKorisnikaResponse"/>
</operation>
<operation name="dajRangListuAdresa">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajRangListuAdresaRequest" message="tns:dajRangListuAdresa"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajRangListuAdresaResponse" message="tns:dajRangListuAdresaResponse"/>
</operation>
<operation name="dajAdresineMeteoPodatke">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajAdresineMeteoPodatkeRequest" message="tns:dajAdresineMeteoPodatke"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajAdresineMeteoPodatkeResponse" message="tns:dajAdresineMeteoPodatkeResponse"/>
</operation>
<operation name="addressTestMethod">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/addressTestMethodRequest" message="tns:addressTestMethod"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/addressTestMethodResponse" message="tns:addressTestMethodResponse"/>
</operation>
<operation name="testMethod">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/testMethodRequest" message="tns:testMethod"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/testMethodResponse" message="tns:testMethodResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="dajAdresineMeteoPodatkeUIntervalu">
<input wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajAdresineMeteoPodatkeUIntervaluRequest" message="tns:dajAdresineMeteoPodatkeUIntervalu"/>
<output wsam:Action="http://ws.logika.lovmimica.nwtis.foi.com/SoapWS/dajAdresineMeteoPodatkeUIntervaluResponse" message="tns:dajAdresineMeteoPodatkeUIntervaluResponse"/>
</operation>
</portType>
<binding name="SoapWSPortBinding" type="tns:SoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajTekuceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAdreseKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajRangListuAdresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAdresineMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addressTestMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAdresineMeteoPodatkeUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapWS">
<port name="SoapWSPort" binding="tns:SoapWSPortBinding">
<soap:address location="http://localhost:8084/lovmimica_aplikacija_1/SoapWS"/>
</port>
</service>
</definitions>