lovmimica_app_1/web/WEB-INF/wsit-com.foi.nwtis.lovmimica.web.ws.soap.SoapWebService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SoapWebService" targetNamespace="http://soap.ws.web.lovmimica.nwtis.foi.com/" xmlns:tns="http://soap.ws.web.lovmimica.nwtis.foi.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="operation"/>
    <message name="operationResponse"/>
    <message name="testAddress"/>
    <message name="testAddressResponse"/>
    <portType name="SoapWebService">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="operation">
            <input message="tns:operation"/>
            <output message="tns:operationResponse"/>
        </operation>
        <operation name="testAddress">
            <input message="tns:testAddress"/>
            <output message="tns:testAddressResponse"/>
        </operation>
    </portType>
    <binding name="SoapWebServicePortBinding" type="tns:SoapWebService">
        <wsp:PolicyReference URI="#SoapWebServicePortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="operation">
            <input/>
            <output/>
        </operation>
        <operation name="testAddress">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="SoapWebService">
        <port name="SoapWebServicePort" binding="tns:SoapWebServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="SoapWebServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
