lovmimica_app_31/src/conf/xml-resources/web-service-references/SoapWS/wsdl/localhost_8084/lovmimica_aplikacija_1/SoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.logika.lovmimica.nwtis.foi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.logika.lovmimica.nwtis.foi.com/" name="SoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.logika.lovmimica.nwtis.foi.com/" schemaLocation="http://localhost:8084/lovmimica_aplikacija_1/SoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAddressMeteoData">
<part name="parameters" element="tns:getAddressMeteoData"/>
</message>
<message name="getAddressMeteoDataResponse">
<part name="parameters" element="tns:getAddressMeteoDataResponse"/>
</message>
<message name="getUsersAddresses">
<part name="parameters" element="tns:getUsersAddresses"/>
</message>
<message name="getUsersAddressesResponse">
<part name="parameters" element="tns:getUsersAddressesResponse"/>
</message>
<message name="getAddressesMeteoData">
<part name="parameters" element="tns:getAddressesMeteoData"/>
</message>
<message name="getAddressesMeteoDataResponse">
<part name="parameters" element="tns:getAddressesMeteoDataResponse"/>
</message>
<message name="getCurrentMeteoData">
<part name="parameters" element="tns:getCurrentMeteoData"/>
</message>
<message name="getCurrentMeteoDataResponse">
<part name="parameters" element="tns:getCurrentMeteoDataResponse"/>
</message>
<message name="getAddressIntervaledMeteoData">
<part name="parameters" element="tns:getAddressIntervaledMeteoData"/>
</message>
<message name="getAddressIntervaledMeteoDataResponse">
<part name="parameters" element="tns:getAddressIntervaledMeteoDataResponse"/>
</message>
<message name="getAddressRankList">
<part name="parameters" element="tns:getAddressRankList"/>
</message>
<message name="getAddressRankListResponse">
<part name="parameters" element="tns:getAddressRankListResponse"/>
</message>
<portType name="SoapWS">
<operation name="getAddressMeteoData">
<input wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressMeteoDataRequest" message="tns:getAddressMeteoData"/>
<output wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressMeteoDataResponse" message="tns:getAddressMeteoDataResponse"/>
</operation>
<operation name="getUsersAddresses">
<input wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getUsersAddressesRequest" message="tns:getUsersAddresses"/>
<output wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getUsersAddressesResponse" message="tns:getUsersAddressesResponse"/>
</operation>
<operation name="getAddressesMeteoData">
<input wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressesMeteoDataRequest" message="tns:getAddressesMeteoData"/>
<output wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressesMeteoDataResponse" message="tns:getAddressesMeteoDataResponse"/>
</operation>
<operation name="getCurrentMeteoData">
<input wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getCurrentMeteoDataRequest" message="tns:getCurrentMeteoData"/>
<output wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getCurrentMeteoDataResponse" message="tns:getCurrentMeteoDataResponse"/>
</operation>
<operation name="getAddressIntervaledMeteoData">
<input wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressIntervaledMeteoDataRequest" message="tns:getAddressIntervaledMeteoData"/>
<output wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressIntervaledMeteoDataResponse" message="tns:getAddressIntervaledMeteoDataResponse"/>
</operation>
<operation name="getAddressRankList">
<input wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressRankListRequest" message="tns:getAddressRankList"/>
<output wsam:Action="http://soap.ws.logika.lovmimica.nwtis.foi.com/SoapWS/getAddressRankListResponse" message="tns:getAddressRankListResponse"/>
</operation>
</portType>
<binding name="SoapWSPortBinding" type="tns:SoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAddressMeteoData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsersAddresses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesMeteoData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentMeteoData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressIntervaledMeteoData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressRankList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapWS">
<port name="SoapWSPort" binding="tns:SoapWSPortBinding">
<soap:address location="http://localhost:8084/lovmimica_aplikacija_1/SoapWS"/>
</port>
</service>
</definitions>